.header-title {
    text-align: left;
    font-size: 70px;
}

.header-hero {
    position: relative;
    height: calc(50vh);
}

.header-subtitle {
    text-align: left;
}

.header-text-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}