.font-link {
  font-family: 'Raleway';
  font-weight: 400;
}

.container {
  position: relative;
  text-align: left;
  align-items: center;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

* {
 font-family: 'Roboto';
 text-align: left;
}

.VerticalTimelineElement {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: beige;
}