.font-link {
  font-family: 'Raleway';
  font-weight: 400;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

.underline span {
  font-family: 'Raleway';
  font-weight: bold;
  display: inline-block;
}

.underline span::after
{
  content: '';
  height: 7px;
  background: #57c4d0 ;
  border-radius: 5px;
  display: block
}

* {
 font-family: 'Roboto';
}
