.font-link {
  font-family: 'Nunito';
}

.font-link {
  font-family: 'Montserrat';
  font-weight: 400;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
}

* {
 font-family: 'Montserrat';
 text-align: center;
}

.VerticalTimelineElement {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: beige;
}

.typewriter {
  display: inline-flex;
  text-align: center;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: 
    typing 2.5s steps(30, end),
    cursor-blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor-blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
